# Practice Problem 1

## Problem: Compare life expectancy's distributions of Europe and Americas in 1997.

#### Use pyplot's hist() funciton to draw histograms and subplot() to compare them.

In [2]:
import pandas as pd
from matplotlib import pyplot as plt

In [3]:
data = pd.read_csv('data/countries.csv')
data.head()

       country continent  year  lifeExpectancy  population  gdpPerCapita
0  Afghanistan      Asia  1952          28.801     8425333    779.445314
1  Afghanistan      Asia  1957          30.332     9240934    820.853030
2  Afghanistan      Asia  1962          31.997    10267083    853.100710
3  Afghanistan      Asia  1967          34.020    11537966    836.197138
4  Afghanistan      Asia  1972          36.088    13079460    739.981106

In [6]:
data_1997 = data[data.year == 1997]
americas_1997 = data_1997[data_1997.continent == 'Americas']
europe_1997 = data_1997[data_1997.continent == 'Europe']

In [8]:
print(len(set(americas_1997.country)))
print(len(set(europe_1997.country)))

25
30

In [9]:
print('Mean Life Expectancy in Americas: ')
print(americas_1997.lifeExpectancy.mean())
print('Mean Life Expectancy in Europe: ')
print(europe_1997.lifeExpectancy.mean())
print('Median Life Expectancy in Americas: ')
print(americas_1997.lifeExpectancy.median())
print('Median Life Expectancy in Europe: ')
print(europe_1997.lifeExpectancy.median())

Mean Life Expectancy in Americas:
71.15048
Mean Life Expectancy in Europe:
75.50516666666667
Median Life Expectancy in Americas:
72.146
Median Life Expectancy in Europe:
76.116